<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="storageListener" />
      </listeners>
    </trace>
    <sources>
      <source name="Microsoft.WindowsAzure.Storage">
        <listeners>
          <add name="storageListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Microsoft.WindowsAzure.Storage" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="storageListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\_CircuitBreakerTestLog.log" />
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!-- This app won't run using the Azure SDK Storage Emulator. You will need an Azure Subscription with a storage account. 
         Insert your storage account name and key in this connection string. Also note that this should use http instead of https,  
         because it's difficult to use Fiddler with https. -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=YOURSTORAGEACCOUNTNAME;AccountKey=YOURSTORAGEACCOUNTKEY" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>